.password {
    position: relative;
}

.icon {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
}

.input{
    width: 100%;
    display: flex;
    align-items: center;
    height: 37px;
    padding: 8px 12px;
    border-radius: 12px;
    margin-top: 10px;
    font-size: 12px;
    gap: 12px;
    background: #f0f2f5;
}