@media (min-width:1200px) and (max-width: 1919px) {


  
  .dailyText {
    font-size: 45px;
  }

  .selectDay{
    font-size: 30px;
  }
    
  
  
  .calendar {
    max-width: 500px;
  }

  
  .days-of-week {
    font-size: 25px;
    padding-bottom: 0.5rem;
    gap: 1rem;
  }

  .day {
    height: 40px;
    width: 40px;
    font-size: 25px;
  }

  .week {
    gap: 40px;
  }

  .peopleMov{
    padding: 15px 30px;
  }

.peopleMov > div {
  gap: 12px;
}

.markText {
  font-size: 30px;
}

.titleText {
  font-size: 25px;
}

.titlePara {
  font-size: 20px;
}
}







    /************ General CSS style******** */


.attCon {
    padding: 20px 160px;
  }
  
  .dailyText {
    color: #121417;
    font-family: 'Inter';
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    font-family: 'Inter' sans-serif;
  }

  .selectDay{
    font-family: 'Inter' sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    margin-top: 1rem;
  }
  
  
  .calendar {
    max-width: 400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    text-align: center;
    
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .yearButton {
    background: none;
    display: flex;
    justify-content: center;
  }
  
  .monthButton {
    background: none;
    display: flex;
    justify-content: center;
  }
  
  .days-of-week {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding-bottom: 5px;
    margin-top: 10px;
  }
  
  .week {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .day {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  
  .day.empty {
    visibility: hidden;
  }
  
  .today {
      border: 2px solid #e8e8ec;
      background-color: #1A80E5;
      border-radius: 50%;
      padding: 3px;
      color: #fff;
     
    }
  
  .calendar {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  
  
  
  .peopleMov {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 16px;
  }
  
  .peopleMov > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .markText {
    margin-bottom: 1rem;
    color: #121417;
    font-family: 'Inter' sans-serif;
    font-size: 22px;
    font-weight: 700;
  }
  
  .titleText {
    color: #121417;
    font-family: 'Inter' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }
  
  .titlePara {
    color: #637587;
    font-size: 14px;
    font-weight: 400;
  }
  
  
  .toggleSwitch {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
  }
  
  .toggleSwitch.active {
    background-color: #333; /* Change to your desired active color */
  }
  
  .toggleSwitch::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    top: 1px;
    left: 1px;
    transition: transform 0.2s;
  }
  
  .toggleSwitch.active::after {
    transform: translateX(20px);
  }
  
  .attendanceLas {
    display: flex;
    justify-content: flex-end;
  }
  .attendanceBtn {
   color: #FFF;
   background-color: #1A80E5;
   font-size: 14px;
  font-weight: 700;
   padding: 5px 20px;
   margin-top: 1rem;
   border-radius: 12px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   -ms-border-radius: 12px;
   -o-border-radius: 12px;
  }

  @media (min-width:992px) and (max-width: 1199px) {
   

      .dailyText {
        font-size: 30px;
      }
    
      .selectDay{
        font-size: 25px;
        font-weight: 600;
      }
        
      
      
      .calendar {
        max-width: 400px;
      }

      .days-of-week {
        font-size: 25px;
        padding-bottom: 5px;
        gap: 0.5rem;
      }
    
      .day {
        height: 40px;
        width: 40px;
        font-size: 20px;
      }
    
      .week {
        gap: 25px;
      }
    
      .peopleMov{
        padding: 15px 30px;
      }
    
    .peopleMov > div {
      gap: 10px;
    }
    
    .markText {
      font-size: 25px;
    }
    
    .titleText {
      font-size: 20px;
    }
    
    .titlePara {
      font-size: 18px;
    }
  } 

  @media (min-width:768px) and (max-width: 991px) {

    .attCon {
      padding: 20px 60px;

      }

    

      .dailyText {
        font-size: 25px;
      }
    
      .selectDay{
        font-size: 18px;
        font-weight: 500;
        margin-top: 0.5rem;
      }
        
      
      
      .calendar {
        font-size: 12px;
      }

      .days-of-week {
        font-size: 12px;
        padding-bottom: 5px;
        gap: 5px;
      }
    
      .day {
        height: 20px;
        width: 20px;
        font-size: 16px;
      }
    
      .week {
        gap: 15px;
      }
    
      .peopleMov{
        padding: 15px 30px;
      }
    
    .peopleMov > div {
      gap: 10px;
    }
    
    .markText {
      font-size: 18px;
      font-weight: 700;
    }
    
    .titleText {
      font-size: 18px;
    }
    
    .titlePara {
      font-size: 14px;
    }

  }

  @media (min-width:481px) and (max-width: 767px) {

    .attCon {
      padding: 20px 40px;

      }

    

      .dailyText {
        font-size: 20px;
        font-weight: 800;
      }
    
      .selectDay{
        font-size: 18px;
        font-weight: 700;
        margin-top: 0.5rem;
      }
        
      
      
      .calendar {
        font-size: 12px;
      }

      .days-of-week {
        font-size: 12px;
        padding-bottom: 5px;
        gap: 5px;
      }

      .markText {
        font-size: 18px;
        width: 18px;
        height: 18px;
      }

      .titleText {
        font-size: 18px;
      }
      
      .titlePara {
        font-size: 14px;
      }

  }

  @media (min-width:290px) and (max-width: 480px) {


    .attCon {
      padding: 10px;

      }

      .dailyText {
        font-size: 18px;
        font-weight: 800;
      }
    
      .selectDay{
        font-size: 14px;
        font-weight: 700;
        margin-top: 2px;
      }
        
      
      
      .calendar {
        font-size: 12px;
      }

      .days-of-week {
        font-size: 10px;
        padding-bottom: 5px;
        gap: 5px;
      }
    
      .day {
        height: 20px;
        width: 20px;
        font-size: 14px;
      }
    
      .week {
        gap: 15px;
      }
    
      .peopleMov{
        padding: 15px 30px;
      }
    
    .peopleMov > div {
      gap: 10px;
      display: block;

    }
    
    .markText {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 2px;
    }
    
    .titleText {
      font-size: 14px;
    }
    
    .titlePara {
      font-size: 12px;
    }

    .flex-column {
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .attendanceBtn {
      font-size: 12px;
     font-weight: 400;
    }
     
     

    
  }
    






      
      
