.left {
    padding: 16px;
    width: 307px;
    max-width: 300px;
    height: 760px;
    background-color: #f0f2f54e;
  }
  
  .left > div {
    padding: 8px 12px;
    margin: 8px;
  }

  .left > div > a {
    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-family);
    width: var(--full-width);
    padding: 8px 12px;
  }
  
  .active-link {
    border-radius: 12px;
    background: #f0f2f5;
  }

  .right {
    /* width: 921px; */
    padding: 16px;
  }

  .dash-main {
    width: 90%;
  }


  .right p:nth-child(1) {
    width: var(--full-width);
    color: #121417;
    font-family: var(--font-family);
    font-size: 32px;
    font-weight: 700;
  }

  .right p:nth-child(2) {
    color: #121417;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin: 12px 0;
  }

  .search {
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
    background: #f0f2f5;
    padding: 16px;
    font-size: 16px;
    margin: 12px 0;
  }

  .search::placeholder {
    color: #637587;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
  }

  .table {
    padding: 5px;
    width: var(--full-width);
    /* overflow-x: auto; */
    border-radius: 12px;
    border: 1px solid #dbe0e5;
    background: #fff;
  }

  .table_wrapper {
    border-collapse: collapse;
    width: var(--full-width);
    font-size: 1.4rem;
  }

  .table__head {
    border-bottom: 1px solid #e5e8eb;
    font-size: 14px;
  }

  .same_class {
    vertical-align: top;
    text-align: left;
    padding: 8px;
  }

  .table__row {
    border-bottom: 1px solid #ccc;
    font-size: 14px;
  }

  .table__row:last-child {
    border-bottom: unset;
  }
  
  .table__body .table__row > td:not(:first-child) {
    color: #637587;
  }

  .table__row:nth-child(even) {
    background-color: #fff;
  }

  tbody > tr:hover {
    cursor: pointer;
  }

  .right button {
    margin-top: 1.2em;
    width: 480px;
    height: 40px;
    padding: 0px 16px;
    color: #121417;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.21px;
  }

  ._noBg {
    background: transparent;
  }







  



  



  






