@media (min-width: 1200px) and (max-width: 1919px) {

  .form-container {
    width: 70%;
    max-width: 55rem;
    padding: 20px 40px;
    font-size: 25px;
    
  }

  .title {
    font-size: 35px;
  }

  .form {
    gap: 22px;
    padding: 30px 0;
  }

  .input {
    height: 60px;
    font-size: 25px;
  }
  label {
    font-size: 25px;
  }

  .--btn {
    height: 60px;
    font-size: 25px;
  }

  .form-container >p >a {
    text-decoration: underline;
    font-size: 25px;
  }
  
}

/* Normal css */

.form__ {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 70%;
  max-width: 35rem;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
  margin: 0 auto;
}

.form-container > p > a {
  text-decoration: underline;
  font-size: 15px;
}

.title {
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 30px 0;
}

.input {
  width: 100%;
  display: flex;
  height: 37px;
  padding: 8px 12px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 12px;
  background: #f0f2f5;
  margin-top: 10px;
  font-size: 12px;
}

label {
  color: #121417;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.--btn {
  display: flex;
  height: 40px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border-radius: 12px;
  background: #1a80e5;
  font-size: 14px;
  color: #fff;
}

.card {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #354d5f;
  overflow: hidden;
}

.indicator {
  list-style: none;
  font-size: 15px;
}
/* Normal css */

@media (min-width:992px) and (max-width: 1199px) {


  .form-container {
    width: 70%;
    max-width: 35rem;
    padding: 20px 30px;
    font-size: 20px;
  }

  .title {
    font-size: 30px;
  }

  .form {
    gap: 18px;
    padding: 30px 0;
  }

  .input {
    height: 40px;
    font-size: 20px;
  }

  label {
    font-size: 20px;
  }

  .--btn {
    height: 40px;
    font-size: 20px;
  }

  .form-container >p  >a {
    text-decoration: underline;
    font-size: 20px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {

  .form-container {
    width: 70%;
    max-width: 30rem;
    padding: 20px 30px;
    font-size: 18px;
  }

  .title {
    font-size: 30px;
    font-weight: 600;
  }

  .form {
    gap: 14px;
    padding: 25px 0;
  }

  .input {
    height: 35px;
    font-size: 16px;
  }

  label {
    font-size: 18px;
  }

  .--btn {
    height: 30px;
    font-size: 18px;
  }

  .form-container >p  >a {
    text-decoration: underline;
    font-size: 18px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {

  .form-container {
    width: 100%;
    max-width: 30rem;
    padding: 20px 10px; 
    font-size: 16px;
  }

  .title {
    /* padding-top: 2rem; */
    font-size: 20px;
    font-weight: 800;
  }

  .form {
    gap: 10px;
    padding: 10px 0;
  }

  .input {
    height: 30px;
    font-size: 12px;
  }

  .--btn {
    height: 20px;
    font-size: 12px;
  }

  .form-container >p  >a {
    text-decoration: underline;
    font-size: 14px;
  }
}

@media (min-width: 290px) and (max-width: 480px) {
  
  .form-container {
    width: 100%;
    /* max-width: 30rem; */
    padding: 20px 10px; 
    font-size: 16px;
  }

  .title {
    /* padding-top: 2rem; */
    font-size: 16px;
    font-weight: 800;
  }

  .form {
    gap: 5px;
    padding: 10px 0;
  }

  .input {
    height: 25px;
    font-size: 12px;
    margin-top: 2px;
  }

  .--btn {
    height: 25px;
    font-size: 12px;
    padding: 10px;
    margin-top: 10px;
  }
}