.form__ {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-container {
    width: 70%;
    max-width: 35rem;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
  } 
  
  .form-container p > a {
    text-decoration: underline;
    font-size: 16.5px;
  }
  
  .title {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.8px;
  }
  
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 30px 0;
  }
  
  .input {
    width: 100%;
    display: flex;
    height: 37px;
    padding: 8px 12px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    background: #f0f2f5;
    margin-top: 10px;
    font-size: 12px;
  }
  
  label {
    color: #121417;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
  }
  
  .--btn {
    display: flex;
    height: 40px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    border-radius: 12px;
    background: var(--primary-btn-bg);
    font-size: 14px;
    color: var(--main-bg);
  }