header {
    border-bottom: 1px solid #e5e8eb;
    padding: 12px 40px;
  }
  
  .logo > a {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .logo a > span {
    color: #121417;
    font-weight: 700;
    font-size:20px
}
    
.navItems {
    gap: 36px;
    margin-right: -13em;
  }
  
  .btn__wrapper {
    gap: 16px;
} 

.sidebar-toggle-icon{
  font-size: 40px;
  color:blue;
  cursor: pointer;
  /* display: none; */
}


    
  
  
  
    
    
  
 
  
    